extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="*") 2 Bricks
					h6 -Extream Tech Traning
			.navbar-collapse.collapse
				ui.nav.navbar-nav
					li
						a(href="/") Homeasdasd
