.modal-header
  h3 {{ execution.command }}
  div ( {{ execution._id }} )


.modal-body
  .tabbable
    ul.nav.nav-tabs
      li(ng-class="{active: tabName == 'info'}")
        a(ng-click="tabName = 'info'") Info
      li(ng-class="{active: tabName == 'file'}")
        a(ng-click="tabName = 'file'") File

    .tab-content
      div(ng-switch='tabName')
        div(ng-switch-when='info')
          table.table(style='margin-top:10px;')
            tr
              th Name
              td {{ execution.name }}
              th Status
              td {{ execution.status }}
            tr
              th Command
              td(colspan='3') {{ execution.command }}
            tr
              th Start
              td {{ execution.start | date:'yyyy-MM-dd HH:mm:ss' }}
              th End
              td {{ execution.end | date:'yyyy-MM-dd HH:mm:ss' }}
            tr
              th Arguments
              td(colspan='3')
                form.form-horizontal
                  .form-group.row(ng-repeat='arg in execution.arguments')
                    label.col-md-2.control-label(for='name') Name
                    .col-md-4
                      input.form-control(id='name', type='text', placeholder='', disabled, ng-model='arg.name')
                    label.col-md-2.control-label(for='value') Value
                    .col-md-4
                      input.form-control(id='value', type='text', placeholder='', ng-model='arg.value', data-toggle='tooltip', data-placement='top', title='arg.description')
            tr
              th Comment
              td(colspan='3')
                textarea.form-control.input-sm {{ execution.comment }}
            tr
              td(colspan='4')
                textarea.form-control.input-sm(style='height:200px', disabled) {{ execution.log }}

        div(ng-switch-when='file')
          table.table(style='margin-top:10px;',ng-repeat='file in execution.files')
            tr
              th Name
              td
                input.form-control.input-sm(type='text', placeholder="File Name", ng-model='file.name')
            tr
              th Content
              td
                textarea.form-control.input-sm(placeholder="Write file content", ng-model='file.content')
            tr
              th Description
              td
                textarea.form-control.input-sm(placeholder="Describe this file", ng-model='file.description')
            tr
              th Files
              td
                input(type='file', on-read-file='showContent($fileContent, $fileName, file)')


.modal-footer
  button.btn.btn-primary(ng-click='start()', ng-show="execution.status !== 'begin'") Start
  button.btn.btn-danger(ng-click='stop()', ng-show="execution.status === 'begin'") Stop
  button.btn.btn-warning(ng-click='close()') Close