.modal-header
  h3 {{ execution.command }}
  div ( {{ execution._id }} )


.modal-body
  .tabbable
    ul.nav.nav-tabs
      li(ng-class="{active: tabName == 'info'}")
        a(ng-click="tabName = 'info'") Info
      li(ng-class="{active: tabName == 'file'}")
        a(ng-click="tabName = 'file'") File

    .tab-content
      div(ng-switch='tabName')
        div(ng-switch-when='info')
          table.table(style='margin-top:10px;')
            tr
              th Command
              td(colspan='3') {{ execution.command }}
            tr
              th Name
              td {{ job.name }}
              th Status
              td {{ execution.status }}
            tr
              th Start
              td {{ execution.start | date:'yyyy-MM-dd HH:mm:ss' }}
              th End
              td {{ execution.end | date:'yyyy-MM-dd HH:mm:ss' }}
            tr
              th Arguments
              td(colspan='3')
                .row(ng-repeat='arg in task.arguments')
                  .col(style='padding-left:15px')
                    .row(data-toggle='tooltip', data-placement='top', title="arguments' description in Job")
                      .col-md-3 {{ arg.name }}
                      .col-md-6
                        input(type='text', value='{{arg.value}}')
            tr
              th Comments
              td(colspan='3')
                textarea(rows='5', cols='70') {{ job.comments }}
            tr
              td(colspan='4') {{ execution.log }}

        div(ng-switch-when='file')
          table.table(style='margin-top:10px;')
            tr
              th Files
              td(colspan='3')
                input(type='file', on-read-file='showContent($fileContent)')
                div(ng-if='content')
                  pre {{ content }}


.modal-footer
  button.btn.btn-primary(ng-click='start()', ng-show="execution.status !== 'begin'") Start
  button.btn.btn-danger(ng-click='stop()', ng-show="execution.status === 'begin'") Stop
  button.btn.btn-warning(ng-click='close()') Close