.modal-header
  h3 Create Execution

.modal-body
  .tabbable
    ul.nav.nav-tabs
      li(ng-class="{active: tabName == 'info'}")
        a(ng-click="tabName = 'info'") Info
      li(ng-class="{active: tabName == 'file'}")
        a(ng-click="tabName = 'file'") File
    .tab-content
      div(ng-switch='tabName')
        div(ng-switch-when='info')
          table.table(style='margin-top:10px;')
            tr
              th Name
              td(colspan='3')
                input.form-control(type='text', placeholder="Input 'Name'", ng-model='newInfo.name')
            tr
              th Command
              td(colspan='3')
                input.form-control(type='text', placeholder="Input 'Command' with arguments", ng-model='newInfo.command')
            tr
              th Arguments
                button.btn.btn-info.btn-xs(type='button',ng-click='addArgument()')
                  span.glyphicon.glyphicon-plus
              td(colspan='3')
                .form-group(ng-repeat='arg in newInfo.arguments')
                  .col-sm-3.nopadding
                    input.input-sm.form-control(type='text', placeholder="name", ng-model='arg.name')
                  .col-sm-4.nopadding
                    input.input-sm.form-control(type='text', placeholder="value", ng-model='arg.value')
                  .col-sm-4.nopadding
                    input.input-sm.form-control(type='text', placeholder="description", ng-model='arg.description')
                  .col-sm-1.nopadding
                    button.btn.btn-danger.btn-xs(type='button', ng-hide="$first",ng-click="removeArgument($index)")
                      span.glyphicon.glyphicon-minus
            tr
              th Comment
              td(colspan='3')
                textarea.form-control(ng-model='newInfo.comment') {{ newInfo.comment }}
        div(ng-switch-when='file')
          table.table(style='margin-top:10px;',ng-repeat='file in newInfo.files')
            tr
              th Name
              td
                input.form-control.input-sm(type='text', placeholder="File Name", ng-model='file.name')
            tr
              th Content
              td
                textarea.form-control.input-sm(style='height:200px', placeholder="Write file content", ng-model='file.content')
            tr
              th Description
              td
                textarea.form-control.input-sm(placeholder="Describe this file", ng-model='file.description')
            tr
              th Files
              td
                input(type='file', on-read-file='showContent($fileContent, $fileName, file)')

.modal-footer
  button.btn.btn-success(ng-click='save()', title='Save new execution') Save
  button.btn.btn-primary(ng-click='run()', title='Run with this execution') Start
  button.btn.btn-warning(ng-click='close()', title='Close this popup') Close