.container
  .panel.panel-default
    .panel-heading
      h3 2 Bricks
      .panel-body Welcome to 2 Bricks!

  .panel.panel-success
    h3.text-center Execution List
    table.table
      thead
        tr
          th 명령어
          th.w-10 상태
          th.w-20 시작일
          th.w-20 종료일
          th.w-15 작성자
      tbody
        tr(ng-repeat='exe in executions | orderBy: "-start"')
          td.clickable(ng-click='popupDetail(exe)') {{ exe.command }}
          td.text-center {{ exe.status }}
          td.text-center {{ exe.start | date:'yyyy-MM-dd HH:mm:ss'}}
          td.text-center {{ exe.end | date:'yyyy-MM-dd HH:mm:ss'}}
          td.text-center {{ exe.creator }}

  button.btn.btn-primary.pull-right(style='margin-right:10px;', ng-click='popupNew()') New

  .model.fade(id='myModel',tabindex='-1',role='dialog')