.container
  .jumbotron
    h1 2 Bricks
    p Welcome to 2 Bricks!

  .panel.panel-success
    h3.text-center Execution List
    table.table
      thead
        tr
          th 명령어
          th.w-10 상태
          th.w-20 시작일
          th.w-20 종료일
          th.w-15 작성자
      tbody
        tr(ng-repeat='exe in executions')
          td.clickable(ng-click='popupDetail(exe)') {{ exe.command }}
          td.text-center {{ exe.status }}
          td.text-center {{ exe.start | date:'yyyy-MM-dd HH:mm:ss'}}
          td.text-center {{ exe.end | date:'yyyy-MM-dd HH:mm:ss'}}
          td.text-center {{ exe.creator }}

  .model.fade(id='myModel',tabindex='-1',role='dialog')